<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="LumelTest">

    <test name="TodoItemsCheck">
       <groups>
           <run>
               <include name="Smoke"/>
           </run>
       </groups>
        <classes>
            <class name="TestPackage.TodoTest"></class>
        </classes>
    </test>
</suite>